[Unit]
Description=rfid-kodi-control

[Service]
User=bram
Group=bram
WorkingDirectory=/home/bram/rfid-kodi-control
ExecStart=/home/bram/rfid-kodi-control/rfid-kodi-control-exe
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target